TEKORA_SECRET=change_this_to_a_long_random_secret
TEKORA_BASE_URL=https://bimsaragannile.pythonanywhere.com
TEKORA_SMTP_HOST=smtp.gmail.com
TEKORA_SMTP_PORT=587
TEKORA_SMTP_USERNAME=yourgmail@gmail.com
TEKORA_SMTP_PASSWORD=your_16_digit_google_app_password
TEKORA_SMTP_FROM=Tekora <yourgmail@gmail.com>
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
TEKORA_ADMIN_PIN=change_this_pin
